@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');

body {
	width: 700px;
	height: 100vh;
	margin: 0 auto;
	padding: 0 16px;
	font-family: 'Poppins', sans-serif;
	color: #333;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
}

.main-content {
	padding: 0 50px;
	flex-grow: 1;
	background-color: #eee;
}

header {
	margin-top: 16px;
	margin-bottom: 48px;
}
nav a {
	color: #888;
	margin-right: 16px;
	text-decoration: none;
}

footer {
	color: #888;
	border-top: 2px solid #333;
}

h1 {
	font-size: 4rem;
	margin-bottom: 16px;
}

img {
	width: 250px;
}
